<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Player</title>
</head>

<body>
    <a href="/">Home</a>
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= foundPlayer.name %>">
    </div>
    <br>
    <br>
    <div>
        <label for="position">Position:</label>
        <input type="text" name="position" id="position" value="<%= foundPlayer.position %>">
    </div>
    <br>
    <br>
    <div>
        <label for="height">Height:</label>
        <input type="text" name="height" id="height" value="<%= foundPlayer.height %>">
    </div>
    <br>
    <br>
    <div>
        <label for="weight">Weight:</label>
        <input type="text" name="weight" id="weight" value="<%= foundPlayer.weight %>">
    </div>
    <br>
    <br>
    <div>
        <label for="number">Number:</label>
        <input type="text" name="number" id="number" value="<%= foundPlayer.number %>">
    </div>
    <br>
    <br>
    <div>
        <label for="isListedHealthy">Is Listed Healthy:</label>
        <input type="checkbox" name="isListedHealthy" id="isListedHealthy" <% if(foundPlayer.isListedHealthy) { %> checked <% } %>>
    </div>
    <br>
    <br>
    <div>
        <label for="team">Team:</label>
        <select name="team" id="team">
            <% allTeams.forEach(team => { %>
                <option value="<%= team._id %>" <% if (foundPlayer.team._id == team._id) { %> selected <% } %>><%= team.name %></option>
            <% }) %>
        </select>
    </div>
    <br>
    <br>
    <form action="/players/<%= foundPlayer._id %>?_method=PUT" method="POST">
        <button type="submit">Update Player</button>
    </form>
    <br>
    <br>
    <a href="/players/<%= foundPlayer._id %>">Back to <%= foundPlayer.name %></a>
    <br>
    <br>
    <a href="/players">Back to Player Index</a>
</body>

</html>