<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Page</title>
</head>

<body>
    <%- include('../nav/_nav.ejs') %>
    <h1>Player Details</h1>
    <h2><%= player.name %></h2>
    <p>Position: <%= player.position %></p>
    <p>Height: <%= player.height %></p>
    <p>Weight: <%= player.weight %></p>
    <p>Number: <%= player.number %></p>
    <p>Status: <%= player.status %></p>
    <br>
    <br>
    <form action="/users/<%= user._id %>/players/<%= player._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Player</button>
    </form>
    <form action="/users/<%= user._id %>/players/<%= player._id %>/edit" method="GET">
        <button type="submit">Edit Player</button>
    </form>
    <br>
    <br>
</body>

</html>