<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Page</title>
</head>

<body>
    <a href="/">Home</a>
    <h1><%= foundTeam.name %></h1>
    <h3>City: <%= foundTeam.city %></h3>
    <h3>Mascot: <%= foundTeam.mascot %></h3>
    <h3>Color: <%= foundTeam.color %></h3>
    <h3>Year Founded: <%= foundTeam.yearFounded %></h3>
    <h3>Ready for the Season: <%= foundTeam.seasonIsReady ? 'Yes' : 'No' %></h4>
    <br>
    <br>
    <h2>Players on this Team:</h2>
    <ul>
        <% foundTeam.players.forEach(player => { %>
            <li><a href="/players/<%= player._id %>"><%= player.name %></a></li>
        <% }) %>
    </ul>
    <a href="/teams/<%= foundTeam._id %>/edit">Edit Team</a>
    <br>
    <br>
    <form action="/teams/<%= foundTeam._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Team</button>
    </form>
    <br>
    <br>
    <a href="/players/new">Add a new Player</a>
    <br>
    <br>
    <a href="/players">View all Players</a>
    <br>
    <br>
    <a href="/teams">Back to Team Index</a>
</body>

</html>